<template>
  <div class=".appindex__" style="width: 100%;height: 100%;">
    <div class="main">
      <div class="main_">
        <p class="p">
            一个基于spring boot、spring
            oauth2.0、mybatis、redis的轻量级、前后端分离、拥有完整sku和下单流程的完全开源商城
          </p>
          <p class="p">
            该项目仅供学习参考、可供个人学习使用、如需商用联系作者进行授权,否则必将追究法律责任
          </p>
          <h2 class="oneH">前言</h2>
          <p class="p">
            亚米商城项目致力于为中小企业打造一个完整、易于维护的开源的电商系统,采用现阶段流行技术实现。后台管理系统包含商品管理、订单管理、运费模板、规格管理、会员管理、运营管理、内容管理、统计报表、权限管理、设置等模块。
          </p>
          <h2 class="oneT">技术选型</h2>
          <table border="1" cellspacing="0" cellpadding="5px">
            <tr align="center">
              <td>技术</td>
              <td>版本</td>
              <td>说明</td>
            </tr>
            <tr align="center">
              <td>Spring Boot</td>
              <td>2.1.6.RELEASE</td>
              <td>MVC核心框架</td>
            </tr>
            <tr>
              <td>Spring Security oauth2</td>
              <td>2.1.5.RELEASE</td>
              <td>认证和授权框架</td>
            </tr>
            <tr align="center">
              <td>MyBatis</td>
              <td>3.5.0</td>
              <td>ORM框架</td>
            </tr>
            <tr align="center">
              <td>MyBatisPlus</td>
              <td>3.1.0</td>
              <td>基于mybatis,使用lambda表达式的</td>
            </tr>
            <tr align="center">
              <td>Swagger-UI</td>
              <td>2.9.2</td>
              <td>文档生产工具</td>
            </tr>
            <tr align="center">
              <td>Hibernator-Validator</td>
              <td>6.0.17.Final </td>
              <td>验证框架</td>
            </tr>
            <tr align="center">
              <td>redisson</td>
              <td>3.10.6</td>
              <td>对redis进行封装、集成分布式锁等</td>
            </tr>
            <tr align="center">
              <td>hikari</td>
              <td>3.2.0</td>
              <td>数据库连接池</td>
            </tr>
            <tr align="center">
              <td>log4j2</td>
              <td>2.11.2</td>
              <td>更快的log日志工具</td>
            </tr>
            <tr align="center">
              <td>fst</td>
              <td>2.57</td>
              <td>更快的序列化和反序列化工具</td>
            </tr>
            <tr align="center">
              <td>orika</td>
              <td>1.5.4</td>
              <td>更快的bean复制工具</td>
            </tr>
            <tr align="center">
              <td>lombok</td>
              <td>1.18.8</td>
              <td>简化对象封装工具</td>
            </tr>
            <tr align="center">
              <td>hutool</td>
              <td>4.5.0</td>
              <td>更适合国人的java工具集</td>
            </tr>
            <tr align="center">
              <td>swagger-bootstrap</td>
              <td>1.9.3</td>
              <td>基于swagger,更便于国人使用的swagger ui</td>
            </tr>
          </table>
          <h2 class="oneT">部署教程</h2>
          <h4 class="oneTH">1.开发环境</h4>
          <table border="1" cellspacing="0" cellpadding="5px">
            <tr align="center">
              <td>工具</td>
              <td>版本</td>
            </tr>
            <tr align="center">
              <td>jdk</td>
              <td>1.8+</td>
            </tr>
            <tr align="center">
              <td>mysql</td>
              <td>5.7+</td>
            </tr>
            <tr align="center">
              <td>redis</td>
              <td>3.2+</td>
            </tr>
          </table>
          <h4 class="oneTH">2.启动</h4>
          <ul class="ulbottom">
            <li>推荐使用idea,安装lombok插件,使用idea导入maven项目</li>
            <li>
              将shop.sql导入到mysql中,修改 application-dev.yml更改
              datasource.url、user、password
            </li>
            <li>启动redis</li>
            <li>
              通过 WebApplication启动项目后台接口, ApiApplication 启动项目前端接口
            </li>
          </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.main{
  width: 100%;
  height: 100%;
  background: #eef1f2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}
.main_{
  width: 98%;
  height: 95%;
  border-radius: 8px;
  overflow: scroll;
  background: #ffffff;
  padding: 20px;   
}
</style>