<template>
  <div class="produce">
      <avue-crud :data="produce.data" ref="crud" :option="option" v-model:page="page" @refresh-change="refreshChange" v-model:search="produce.proSearch">
            <template #prodName-search="{size}">
                    <el-input style="width:100%" :size='size' placeholder="产品名称" v-model="produce.proSearch.prodName" />
            </template>
            <template #status-search="{size}">
              <el-select placeholder="状态" :size="size" v-model="produce.proSearch.status">
                    <el-option value="未上架"/>
                    <el-option value="上架"/>
              </el-select>
            </template>
            <template #search-menu='{row,size}'>
                    <el-button style="marginTop:2px" :size="size" type="primary" color='#02A1E9' @click="produce.searchproList(row)">
                        <svg t="1666702400921" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2543" width="13" height="13"><path d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z" fill="#ffffff" p-id="2544"></path></svg>
                        搜索
                    </el-button>
                    <el-button style="marginTop:2px"> 
                      <svg t="1666702696515" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4310" width="13" height="13"><path d="M608 768c-17.696 0-32-14.304-32-32L576 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C640 753.696 625.696 768 608 768z" p-id="4311" fill="#8a8a8a"></path><path d="M416 768c-17.696 0-32-14.304-32-32L384 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C448 753.696 433.696 768 416 768z" p-id="4312" fill="#8a8a8a"></path><path d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256s14.304 32 32 32l832 0c17.696 0 32-14.304 32-32S945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z" p-id="4313" fill="#8a8a8a"></path><path d="M736.128 960 288.064 960c-52.928 0-96-43.072-96-96L192.064 383.52c0-17.664 14.336-32 32-32s32 14.336 32 32L256.064 864c0 17.664 14.368 32 32 32l448.064 0c17.664 0 32-14.336 32-32L768.128 384.832c0-17.664 14.304-32 32-32s32 14.336 32 32L832.128 864C832.128 916.928 789.056 960 736.128 960z" p-id="4314" fill="#8a8a8a"></path></svg>
                      清空
                  </el-button>
            </template>
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus" @click="$refs.crud.rowEdit(row,index)">新增</el-button>
                <el-button type="danger"
                            color='#fab6b6'>批量删除</el-button>
            </template>
            <template #pic="scope">
              <img :src="scope.row.pic" alt="">
            </template>
            <template #status="scope">
              <el-tag v-if="scope.row.status === 1" size="small">上架</el-tag>
              <el-tag v-else size="small">未上架</el-tag>
            </template>
            <template #menu='{row,index,size}'>
            <el-button type="primary"
                        color='#02A1E9'
                        icon="el-icon-edit"
                        :size="size" @click="$refs.crud.rowEdit(row,index)">修改</el-button>
            <el-button type="primary"
                        color='#F56C6C'
                        icon="el-icon-delete"
                        :size="size" @click="delone(row)">删除</el-button>
            </template>
        </avue-crud>
        <MyAlert/>
  </div>
</template>

<script setup lang='ts'>
import {ref} from 'vue'
import Store from '../../../store'
import { _get_produce , _del_one } from '../../../service/produce/produce'
import MyAlert from './MyAlert.vue'
const { produce }= Store()
produce.getlist()
console.log(produce);

const page={
        total: 1000,
        currentPage: 1,
        pageSize: 10
      }
const option={  
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        searchBtn:false,
        emptyBtn:false,
        selection: true,
        editBtn:false,
        delBtn:false,
        searchMenuSpan:5,
          column:[{
              label:'产品名字',
              prop:'prodName',
              search:true
          },{
              label:'商品原价',
              prop:'oriPrice'
            },{
              label:'商品现价',
              prop:'price',
            },{
              label:'商品库存',
              prop:'totalStocks'
            },{
              label:'产品图片',
              prop:'pic',
              slot:true
            },
            {
              label:'状态',
              prop:'status',
              slot:true,
              search:true
            }
            
          ]
        }
        //删除
        const delone= async (row:any)=>{
          produce.dialogVisible=true
          produce.delId=row.prodId
        }
        
        const refreshChange=()=>{

        }


</script>

<style lang='scss' scoped>
.produce{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .button{
          color: #fff !important;
        }
        form{
            width: 100%;
            display: flex;
            font-size: 12px !important;
            .el-form-item{
                margin-right: 10px;
            }
        }
        .produce_table{
            margin-top: 10px;
        }
    }
    svg{
        margin-right: 5px;
    }
    .cell{
      img{
        width: 124px;
        height: 124px;
      }
    }
</style>