<template>
  <div class="login">

    <div class="login_main">

      <div class="login_main_top">
        <img src="../../assets/QQ图片20221025222941.png" alt="">
      </div>

      <el-form ref="ruleFormRef" :rules="rules" :model="ruleForm" status-icon label-width="120px" class="demo-ruleForm">
        <el-form-item style="margin-left: -60px; width: 100%; margin-top: 20px;" prop="username">
          <!-- 账号 -->
          <el-input type="text" v-model="ruleForm.username" placeholder="账号" />
        </el-form-item>
        <el-form-item style="margin-left: -60px; width: 100%;" prop="password">
          <!-- 密码 -->
          <el-input type="password" v-model="ruleForm.pwd" placeholder="密码" />
        </el-form-item>
        <el-form-item style="margin-left: -60px; width: 70%;position: relative;" prop="code">
          <!-- code验证码 -->
          <el-input type="text" v-model="ruleForm.code" placeholder="验证码" />
          <img :src="captchaImg" alt="" style="width: 100px;height: 30px;position: absolute;top: -1px;left: 180px;">
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm(ruleForm)" style="width: 100%;margin-left: -60px;">登录
          </el-button>
        </el-form-item>
      </el-form>

    </div>
  </div>
</template>

<script lang="ts" setup>
import { rulesConfig } from './rules'
import { ElButton, ElForm, ElFormItem, ElInput, FormInstance } from 'element-plus'
//vue3 reactive ref 是用来定义响应式数据的方法 跟vue2里data差不多
import { reactive, ref, defineProps } from 'vue'
// code验证码 uuid是每一次刷新页面都能生成不同的码
import { uuid } from 'vue-uuid'
// 解构出登录的接口
import { _login, _userInfo } from '../../service/login/login'
// 跳转路由的方法
import { useRouter } from 'vue-router'
// 仓库定义的方法拿出来
import useStore from '../../store'
const { login } = useStore()
const router = useRouter()
//uuid.v4方法能够生成uuid唯一标识
const uuidCode = uuid.v4()
// 我们的代理api/拼接他uuid的接口 然后将我们定义的uuid传进去生成动态码
const captchaImg = ref(`/api/captcha.jpg?uuid=${uuidCode}`)
const ruleFormRef = ref<FormInstance>()
// 将拿过来的rulesConfig解成响应式
const rules = reactive(rulesConfig)

interface loginType<T> {
  username: string;
  pwd: string;
  code: string;
}

interface loginTypeLop {
  principal: string;
  Credentials: string;
  imageCode: string;
  sessionUUID: string;
}

// 登录的数据用响应式来定义
const ruleForm = reactive({
  username: "admin",
  pwd: "123456",
  code: ""
})


// 点击登录的时候
const submitForm = async (ruleForm: loginType<loginTypeLop>) => {
  // 调用登录的接口
  login.LoginName({
    principal: ruleForm.username,  //账号
    credentials: ruleForm.pwd,  //密码
    imageCode: ruleForm.code,  //验证码
    sessionUUID: uuidCode,  //后台我们生成的验证码
  })
  router.push({ path: '/index' })
}










</script>

<style scoped>
.login {
  width: 100%;
  height: 100vh;
  background: url(../../assets/login-bg.png) no-repeat;
  display: flex;
}

.login_main {
  width: 400px;
  height: 400px;
  margin: auto;
}

.login_main_top {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
</style>