<template>
  <div class="axx">
    <div class="parameter">
      <div class="parameter-navs">
        <div class="parameter-navs-tops" v-show="isShow">
          <div class="parameter-navs-tops-item">
            参数名：<el-input
              style="width: 150px"
              height="30"
              v-model="input"
              placeholder="参数名"
            />
          </div>
          <div>
            <el-button
              size="small"
              type="primary"
              :icon="Search"
              @click="buttonSearch"
              >搜索</el-button
            >
            <el-button size="small" :icon="Delete" @click="buttonDelete"
              >清空</el-button
            >
          </div>
        </div>
        <div class="parameter-navs-delete">
          <div>
            <el-button
              size="small"
              type="primary"
              @click="dataList.addDialogVisible = true"
              >新增</el-button
            >
            <el-button size="small" type="danger">批量删除</el-button>
          </div>
          <div>
            <el-tooltip content="刷新" placement="top">
              <el-button :icon="Refresh" circle @click="refresh" />
            </el-tooltip>
            <el-tooltip content="显隐" placement="top">
              <el-button
                :icon="Grid"
                circle
                @click="centerDialogVisible = true"
              />
            </el-tooltip>
            <el-tooltip content="搜索" placement="top">
              <el-button
                :icon="Search"
                circle
                @click="this.isShow = !this.isShow"
              />
            </el-tooltip>
          </div>
        </div>
      </div>
      <div class="parameter-conents">
        <el-table
          ref="multipleTableRef"
          :data="dataList.tableData"
          style="width: 100%"
          border
          @selection-change="handleSelectionChange"
        >
          <el-table-column type="selection" width="45" />
          <el-table-column prop="paramKey" label="参数名" align="center">
          </el-table-column>
          <el-table-column prop="paramValue" label="参数值" align="center">
          </el-table-column>
          <el-table-column prop="remark" label="备注" align="center">
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template #default="scope">
              <el-button
                size="small"
                type="primary"
                @click="editDataList(scope.row)"
                >编辑</el-button
              >
              <el-button
                size="small"
                type="danger"
                @click="deleteDataList(scope.row.id)"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 显隐弹框 -->
      <el-dialog v-model="centerDialogVisible" title="多选框" width="65%">
        <!-- 穿梭框 -->
        <el-transfer v-model="value" :data="data" :titles="['隐藏', '显示']" />
      </el-dialog>
      <!-- 编辑 -->
      <el-dialog v-model="dataList.editDialogVisible" title="编辑" width="40%">
        <p>
          参数名: <el-input v-model="editData.input_paramKey" placeholder="参数名" />
        </p>
        <p>
          参数值：<el-input v-model="editData.input_paramValue" placeholder="参数值" />
        </p>
        <p>备注：<el-input v-model="editData.input_remark" placeholder="备注" /></p>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dataList.editDialogVisible = false">取消</el-button>
            <el-button type="primary" @click="editDataLists(editData)"> 确定 </el-button>
          </span>
        </template>
      </el-dialog>
      <!-- 新增 -->
      <el-dialog
        v-model="dataList.addDialogVisible"
        title="新增"
        width="40%"
        align-center>
        <p>
          参数名: <el-input v-model="input_paramKey" placeholder="参数名" />
        </p>
        <p>
          参数值：<el-input v-model="input_paramValue" placeholder="参数值" />
        </p>
        <p>备注：<el-input v-model="input_remark" placeholder="备注" /></p>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dataList.addDialogVisible = false">取消</el-button>
            <el-button type="primary" @click="addDataList"> 确定 </el-button>
          </span>
        </template>
      </el-dialog>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { Refresh, Grid, Search, Delete } from "@element-plus/icons-vue";
import { reactive, ref, defineProps } from "vue";
import { _shueadList, _addShueadList,_deleteShueadList,_editShueadList ,
         _editssShueadList} from "../../../service/sys/shuead";
import { ElMessage, ElMessageBox } from "element-plus";
import useStore from "../../../store";
const { schedule } = useStore();
console.log({ schedule },'schedule');

//搜索内容
const input = ref("");
const input_paramKey = ref(""); //参数名
const input_paramValue = ref(""); //参数值
const input_remark = ref(""); //备注

const paramKey = ref(""); //参数名
const paramValue = ref(""); //参数值
const remark = ref(""); //备注
const isShow = ref(true);
const centerDialogVisible = ref(false);
const dataList = reactive({
  tableData: [],
  addDialogVisible: false,
  editDialogVisible: false,
  addList: {}, //获取新增数据
  addDataList: {}, //新增数据
  
});
const editData=reactive({
   input_paramKey :'',
  input_paramValue:'',
  input_remark :'',
  id:0
})
//数据
const userList = async () => {
  const data = await _shueadList();
  dataList.tableData = data.data.records;
};
userList();
//刷新
const refresh = () => {
  userList();
};
// 穿梭框
interface Option {
  key: number;
  label: string;
}

const generateData = () => {
  const list = ["参数名", "参数值", "备注"];
  const data: Option[] = [];
  for (let i = 0; i < list.length; i++) {
    data.push({
      key: i,
      label: `${list[i]}`,
    });
  }
  return data;
};

const data = ref<Option[]>(generateData());
const value = ref([]);

//点击搜索
const buttonSearch = () => {
  console.log(input.value, "input");
  const dataLists = [];
  const input_value = input.value;
  if (input_value) {
    for (let i = 0; i < dataList.tableData.length; i++) {
      if (dataList.tableData[i].paramKey.indexOf(input_value) != -1) {
        dataLists.push(dataList.tableData[i]);
      }
    }
  }
  dataList.tableData = dataLists;
};
//点击清空
const buttonDelete = () => {
  input.value = "";
};
//删除
const deleteDataList =async (id: any) => {
  ElMessageBox.confirm("确定要删除这条数据吗?","提示",{
    confirmButtonText:'确定',
    cancelButtonText:'取消',
    type:'warning'
  }).then(async ()=>{
    ElMessage({
      message:"删除成功"
    })
    const res= await _deleteShueadList([id])
    //  console.log(res);
     userList();
  })
  .catch(()=>{
    ElMessage({
      message:"删除失败"
    })
  })


};

//增加 deleteShueadList

const addDataList = async () => {
  dataList.addDialogVisible = false;
  dataList.addDataList = {
    paramKey: input_paramKey.value,
    paramValue: input_paramValue.value,
    remark: input_remark.value,
  };

  const res = await _addShueadList(dataList.addDataList);
  userList();
};
//编辑
const editDataList=async (val:any)=>{
  // console.log(val,'val');
     dataList.editDialogVisible = true;
    //  const res=  await _editssShueadList(val.id)
  // console.log(res,'res_editssShueadList');
  
    editData.id=val.id
    editData.input_paramKey = val.paramKey;
    editData.input_paramValue = val.paramValue;
    editData.input_remark = val.remark;
}
const editDataLists =async (editData:any) => {
   console.log(editData.id,'editData');

  //  const res:any=await _editShueadList(editData)
  //  console.log(res,'res');
  //  if(res.status===200){
  //     ElMessage({
  //       message:'编辑成功'
  //     })
  //  }
  ///////
}
//全选
const handleSelectionChange = ([row]) => {
  console.log(row,'row');
  
};
</script>

<style>
.axx {
  width: 100%;
  display: flex;
  justify-content: center;
}
.parameter {
  width: 97%;
  height: 100%;
}
.parameter-navs {
  width: 100%;
}
.parameter-navs-tops {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  align-items: center;
}
.parameter-navs-tops-item {
  margin-right: 10px;
}
.parameter-navs-delete {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>