<template>
  <el-container class="layout-container-demo" style="height: 100vh; width: 100%;">
    <el-aside width="200px">

      <el-scrollbar>
        <div
          style="width: 100%;height: 50px;background: #02a1e9; color: #fff; font-size: 18px; font-weight: 550;display: flex;align-items: center;justify-content: space-around;">
          后台管理</div>
        <el-menu :default-openeds="['1']">
          <el-sub-menu index="1">
            <template #title>
              <el-icon>
                <message />
              </el-icon>
              首页
            </template>
            <el-menu-item index="1-1">
              <router-link to="/home" style="color: black;">首页</router-link>
            </el-menu-item>
          </el-sub-menu>

          <el-sub-menu index="2">
            <template #title>
              <el-icon>
                <icon-menu />
              </el-icon>产品管理
            </template>
            <el-menu-item-group>
              <el-menu-item index="2-1">
                <router-link to="/category" style="color: black;">分组管理</router-link>
              </el-menu-item>
              <el-menu-item index="2-2">
                <router-link to="/prodComm" style="color: black;">产品管理</router-link>
              </el-menu-item>
              <el-menu-item index="2-3">
                <router-link to="/prodList" style="color: black;">分类管理</router-link>
              </el-menu-item>
              <el-menu-item index="2-4">
                <router-link to="/prodlnfo" style="color: black;">评论管理</router-link>
              </el-menu-item>
              <el-menu-item index="2-5">
                <router-link to="/prodTag" style="color: black;">规格管理</router-link>
              </el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>


          <el-sub-menu index="3">
            <template #title>
              <el-icon>
                <setting />
              </el-icon>门店管理
            </template>
            <el-menu-item-group>
              <el-menu-item index="3-1">
                <router-link to="/admin" style="color: black;">公告管理</router-link>
              </el-menu-item>
              <el-menu-item index="3-2">
                <router-link to="/hotSearch" style="color: black;">热搜管理</router-link>
              </el-menu-item>
              <el-menu-item index="3-3">
                <router-link to="/notice" style="color: black;">轮播图管理</router-link>
              </el-menu-item>
              <el-menu-item index="3-4">
                <router-link to="/pickAddr" style="color: black;">运费末班管理</router-link>
              </el-menu-item>
              <el-menu-item index="3-5">
                <router-link to="/transport" style="color: black;">地提点管理</router-link>
              </el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>



          <el-sub-menu index="4">
            <template #title>
              <el-icon>
                <GoldMedal />
              </el-icon>会员管理
            </template>
            <el-menu-item-group>
              <el-menu-item index="4-1">
                <router-link to="/user" style="color: black;">会员管理</router-link>
              </el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>

          <el-sub-menu index="5">
            <template #title>
              <el-icon>
                <Document />
              </el-icon>订单管理
            </template>
            <el-menu-item-group>
              <el-menu-item index="5-1">
                <router-link to="/order" style="color: black;">订单管理</router-link>
              </el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>


          <el-sub-menu index="6">
            <template #title>
              <el-icon>
                <Guide />
              </el-icon>系统管理
            </template>
            <el-menu-item-group>
              <el-menu-item index="6-1">
                <router-link to="/area" style="color: black;">地址管理</router-link>
              </el-menu-item>
              <el-menu-item index="6-2">
                <router-link to="/config" style="color: black;">管理员列表</router-link>
              </el-menu-item>
              <el-menu-item index="6-3">
                <router-link to="/log" style="color: black;">角色管理</router-link>
              </el-menu-item>
              <el-menu-item index="6-4">
                <router-link to="/menu" style="color: black;">菜单管理</router-link>
              </el-menu-item>
              <el-menu-item index="6-5">
                <router-link to="/role" style="color: black;">定时任务</router-link>
              </el-menu-item>
              <el-menu-item index="6-6">
                <router-link to="/schedule" style="color: black;">参数管理</router-link>
              </el-menu-item>
              <el-menu-item index="6-7">
                <router-link to="/users" style="color: black;">系统日志</router-link>
              </el-menu-item>
            </el-menu-item-group>
          </el-sub-menu>

        </el-menu>

      </el-scrollbar>
    </el-aside>

    <el-container>
      <el-header style="text-align: right; font-size: 12px;  border-bottom: 1px dashed #ccc;">
        <div class="toolbar">
          <el-dropdown>
            <el-icon style="margin-right: 8px; margin-top: 1px;">
              <setting />
            </el-icon>
            <template #dropdown>
              <el-dropdown-menu>
                <el-dropdown-item>修改密码</el-dropdown-item>
                <el-dropdown-item @click="ExitLogin">退出登录</el-dropdown-item>
              </el-dropdown-menu>
            </template>
          </el-dropdown>
          <!-- 登录成功后用户名 -->
          <span>{{user}}</span>
        </div>
      </el-header>
      <div style="width: 100%;height: 60px;line-height: 60px; box-shadow: 0 3px 3px #ccc"><span style="margin-left: 15px;;  ">路由标签</span></div>
      <el-main>
        <router-view></router-view>
      </el-main>

    </el-container>
  </el-container>
</template>

<script lang="ts" setup>
import { ref ,reactive} from 'vue'
import {useRouter} from 'vue-router'
import { Menu as IconMenu, Message, Setting } from '@element-plus/icons-vue'
import {_userInfo,_ExitLogin} from '../../service/login/login'
import locaS from '../../uilts/uilts'

const item = {
  date: '2016-05-02',
  name: 'Tom',
  address: 'No. 189, Grove St, Los Angeles',
}

const router = useRouter()
const ExitLogin = async () =>{
   const res = await _ExitLogin()
  //  console.log(res,'res');
  if(res.status===200){
    router.push({path:'/'})
    locaS.removeCache('token')
    locaS.removeCache('userInfo')
    locaS.removeCache('menuList')
    locaS.removeCache('authorities')
  }
}



// 获取登录的用户名渲染页面
let user = ref<any>([])
console.log(user,'>>>')
let userinfo = async () =>{
  const res = await _userInfo()
  user.value = res.data.username
  console.log(user,'---')
}
userinfo()

</script>

<style scoped>
.layout-container-demo .el-header {
  position: relative;
  background-color: #fff;
  color: var(--el-text-color-primary);
}

.layout-container-demo .el-aside {
  color: var(--el-text-color-primary);
  background: #fff;
}

.layout-container-demo .el-menu {
  border-right: none;
}

.layout-container-demo .el-main {
  padding: 0;
}

.layout-container-demo .toolbar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: 20px;
}
</style>