<template>

  <div class="user">
    <div class="main">
      <div class="main_top">
        <span>

        <el-input v-model="stateValue"  placeholder="用户名" />
        </span>
        <span>
          <el-input v-model="value" placeholder="状态" />
        </span>
        <span>
          <el-button type="primary" @click="search()">搜索</el-button>
        </span>
        <span>
          <el-button>清空</el-button>
        </span>
      </div>
      <!-- table数据表格 -->
      <div class="main_buttom">
        <el-table :data="arrList" style="width: 100%" border="1px">
          <el-table-column label="用户昵称" width="230" align="center">
            <template #default="scope">
              <el-popover effect="light" trigger="hover" placement="top" width="auto">
                <template #reference>
                  <span>{{ scope.row.nickName }}</span>
                </template>
              </el-popover>
            </template>
          </el-table-column>

          <el-table-column label="用户头像" width="230" align="center">
            <template #default="scope">
              <el-popover effect="light" trigger="hover" placement="top" width="auto">
                <template #reference>
                  <img :src="scope.row.pic" alt="">
                </template>
              </el-popover>
            </template>
          </el-table-column>

          <el-table-column label="状态" width="230" align="center">
            <template #default="scope">
              <el-popover effect="light" trigger="hover" placement="top" width="auto">
                <template #reference>
                  <el-tag>{{ scope.row.status == 1 ? "正常" : "禁用" }}</el-tag>
                </template>
              </el-popover>
            </template>
          </el-table-column>

          <el-table-column label="注册时间" width="230" align="center">
            <template #default="scope">
              <el-popover effect="light" trigger="hover" placement="top" width="auto">
                <template #reference>
                  <el-tag>{{ scope.row.modifyTime }}</el-tag>
                </template>
              </el-popover>
            </template>
          </el-table-column>

          <el-table-column label="操作" align="center">
            <template #default="scope">
              <el-button size="small" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页器 -->
        <div class="footer">
          <div style="margin-left: 600px;margin-top: 1px;">
            <el-pagination v-model:currentPage="current" v-model:page-size="size" :page-sizes="[10, 5, 20, 30]"
              :small="small" layout="total, sizes, prev, pager, next, jumper" :total="total"
              @size-change="handleSizeChange" @current-change="handleCurrentChange" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { reactive, onUpdated } from 'vue'
import { user_List } from '../../service/user/user'
import { onMounted, ref, toRefs } from 'vue'

const stateValue = ref<string>('')
const value = ref('')

// 每次传参的时候传过去这个时间戳  不然后端可能不会判断传过去的值 有问题？？？？还未测试？？？？


let arrList = ref([])
let current = ref(1)
let size = ref(10)
const small = ref(false)
const background = ref(false)
const disabled = ref(false)
let total = ref<any>(0);
let pages = ref<any>(0);
// 默认渲染第一页的数据
const userList = async () => {
  const data = await user_List({
    current: current.value,
    size: size.value
  })
  arrList.value = data.data.records
  total.value = data.data.total
  pages.value = data.data.pages
}
userList()

const handleSizeChange = async (val: number) => {
  console.log(`${val} items per page`)
  size.value = val
  // console.log(size.value,'---1122')
  userList()
}

const handleCurrentChange = async (val: number) => {
  console.log(`current page: ${val}`)
  current.value = val
  console.log(current.value, '---1122');
  userList()
}

interface User {
  date: string
  name: string
  address: string
}


const t = new Date()
// 点击搜索 ----》》》》》》》》》》》
//定义数组，用来接受查询后需要展示的数据
const search = async () => {

  const data = await user_List({
    current: current.value,
    size: size.value,
    nickName: stateValue.value,
  })
  arrList.value = data.data.records.map((value: any) => {
    return {
      ...value,
      condition: '正常',
    };
  });
  total.value = data.data.total;
}



</script>

<style scoped>
.user {
  width: 100%;
  height: 570px;
  background: #f1f4f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  overflow: scroll;
}

.main {
  width: 98%;
  height: 95%;
  background: #FFF;

}

.main_top {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.main_top span {
  margin-left: 20px;
}

.main_buttom {
  width: 100%;
  height: 70%;

}

.footer {
  width: 100%;
  height: 10%;

}

.demo-pagination-block+.demo-pagination-block {
  margin-top: 10px;
}

.demo-pagination-block .demonstration {
  margin-bottom: 16px;
}
</style>












