.common-layout {
  width: 100%;
  height: 100%;
  color: black;
}

.elcontainer {
  width: 100%;
  height: 100%;
}

.elcontainer .aside {
  width: 100%;
  height: 100%;
}

.elcontainer .centent {
  width: 100%;
  height: 100%;
}

.elcontainer .centent .Header {
  width: 100%;
  height: 100%;
}

.elcontainer .centent .main {
  width: 100%;
  height: 100%;
}
