
.common-layout {
    width: 100%;
    height: 100%;
    color: black;
}
.elcontainer {
    width: 100%;
    height: 100%;
    .aside{
        width: 100%;
        height: 100%;
    }

    .centent{
        width: 100%;
        height: 100%;
        .Header{
            width: 100%;
            height: 100%;
        }
        .main{
            width: 100%;
            height: 100%;
        }
    }
    
}
