<template>
  <div class="group">
    <div class="group_table">
            <el-table :data="pickUpPoints.data" stripe style="width: 100%, text:center">
        <el-table-column type="selection" width="160" />
        <!-- <el-table-column prop="imgUrl" label="轮播图片" width="300"> -->
          
        <el-table-column prop="transName" label="模板名称" width="850" />
       
      
     
        <el-table-column fixed="right" label="操作" width="250">
          <template #default="scope">
            <el-button type="primary" @click="handleClick(scope.row)"
              >修改</el-button
            >
            <el-button type="danger" @click="deteleClick(scope.row)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>

      <el-dialog v-model="dialogFormVisible" title="Shipping address">
        <el-form :model="fromdata">
          <el-form-item label="标题" :label-width="'140px'">
            <el-input v-model="fromdata.title" autocomplete="off" />
          </el-form-item>
          <el-form-item label="内容" :label-width="'140px'">
            <el-input v-model="fromdata.content" autocomplete="off" />
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取消</el-button>
            <el-button type="primary" @click="hotsearxiu()">修改</el-button>
          </span>
        </template>
      </el-dialog>
      <div class="group_table_pagination"></div>
    </div>
  </div>
</template>
  
  <script setup lang='ts'>
import { pickUpPonits_list } from "../../../../src/service/pickUpPoints/pickUpPoints";
import userStore from "../../../store";
let current = 1;
let size = 10;
const { pickUpPoints } = userStore();
const getList = async () => {
  const res: any = await pickUpPonits_list({
    t: 1666954310292,
    current,
    size,
  });
  console.log( res.data.records,"1111111");
  pickUpPoints.data = res.data.records;
};
getList();
const option = {
  search: {},
  border: true,
  align: "center",
  addBtn: false,
  menuWidth: 350,
  searchBtn: false,
  emptyBtn: false,
  selection: true,
  column: [
    {
      label: "自提点名称",
      prop: "addrName",
    },
    {
      label: "手机号",
      prop: "mobile",
    },
    {
      label: "省份",
      prop: "province",
    },
    {
      label: "城市",
      prop: "city",
    },
    {
      label: "区/县",
      prop: "area",
    },
    {
      label: "地址",
      prop: "addr",
    },
  ],
};
</script>
  
  <style lang='scss' scoped>
.group {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  form {
    width: 100%;
    display: flex;
    font-size: 12px !important;
    .el-form-item {
      margin-right: 10px;
    }
  }
  .group_table {
    margin-top: 10px;
    .group_table_pagination {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
svg {
  margin-right: 5px;
}
</style>
