/<template>
  <div class="areas">
    <div class="areas-navs">
        <el-input v-model="input" placeholder="地区关键词"  style="width: 200px;height: 30px;"/>
        <el-button type="primary" style="width: 60px;height: 30px;">新增</el-button>
    </div>
    <div class="areas_conents">
    
    </div>
  </div>
</template>

<script lang="ts" setup>

import { reactive, ref, defineProps } from "vue";
import {_areaList} from '../../../service/sys/area'
const input = ref("");
const dataList = reactive({
  tableData:[]
});
const userList = async () => {
  const data=await _areaList()
   dataList.tableData=data.data
   
   console.log( dataList.tableData,' dataList.tableData');
};
userList()

const handleNodeClick=(data)=>{
  console.log(data,"1111");
  
}
</script>

<style>
.areas{width: 100%;height: 100%;}
.areas-navs{width: 100%;height: 50px;display: flex;justify-content: space-between;align-items: center;}
</style>