<template>
  <el-dialog v-model="notice.dialogVisible" title="删除" width="30%">
    <span>确定删除吗</span>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="notice.dialogVisible = false">取消</el-button>
        <el-button type="primary" @click="delTure"> 确定 </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { ElMessageBox } from "element-plus";
import store from "../../../store";
const { notice } = store();
console.log(notice);

const emit = defineEmits(["truedel"]);
const delTure = () => {
  notice.dialogVisible = false;
  notice.truedelone();
};
</script>

<style scoped>
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>