<template>
<div class="axx">
 <div class="journals">
    <div class="journals-navs">
      <div class="journals-navs-search" v-show="isShow">
        <div class="journals-navs-search-item">
          用户名
          <el-input
            style="width: 150px; height: 30px"
            v-model="input"
            placeholder="用户名"
          />
        </div>
        <div class="journals-navs-search-item">
          用户操作
          <el-input
            style="width: 150px; height: 30px"
            v-model="inputs"
            placeholder="用户操作"
          />
        </div>
        <div class="journals-navs-search-item">
          <el-button
            style="width: 60px; height: 30px"
            type="primary"
            :icon="Search"
            @click="buttonSearch"
           >搜索</el-button
          >
          <el-button
            style="width: 60px; height: 30px"
            :icon="Delete"
            @click="buttonDelete"
            >清空</el-button
          >
        </div>
      </div>
      <div class="journals-navs-icon">
        <div class="journals-navs-icon-right">
          <el-tooltip content="刷新" placement="top">
            <el-button :icon="Refresh" circle @click="refresh" />
          </el-tooltip>
          <el-tooltip content="显隐" placement="top">
            <el-button :icon="Grid" circle @click="centerDialogVisible = true" />
          </el-tooltip>
          <el-tooltip content="搜索" placement="top">
            <el-button :icon="Search" circle @click="this.isShow=!this.isShow"/>
          </el-tooltip>
        </div>
      </div>
    </div>
    <div class="journals-conent">
      <el-table
        ref="multipleTableRef"
        :data="dataList.tableData"
        style="width: 100%"
        stripe 
        border
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" align='center'/>
        <el-table-column prop='username' label="用户名" align='center' />
        <el-table-column prop='operation' label="用户操作" align='center'/>
        <el-table-column prop='method' label="请求方法" align='center'/>
        <el-table-column prop='params' label="请求参数" align='center'/>
        <el-table-column prop='time' label="执行时长（毫秒）" align='center' />
        <el-table-column prop='ip' label="IP地址" align='center'/>
        <el-table-column prop='createDate' label="创建时间" align='center'/>
      </el-table>
      
    <div class="journals-conent-pagination">
      <el-pagination
      :currentPage="dataList.current"
      :page-size="dataList.size"
      :page-sizes="[10, 20, 30]"
      :small="small"
      :disabled="disabled"
      :background="background"
      layout="total, sizes, prev, pager, next, jumper"
      :total="dataList.total"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
    </div>
    <!-- 显隐弹框 -->
  <el-dialog v-model="centerDialogVisible" title="多选框" width="60%" >
    <!-- 穿梭框 -->
   <el-transfer v-model="value" :data="data" :titles="['隐藏', '显示']" />
  </el-dialog>
  </div>
    </div>
  
</div>
  
</template>

<script lang="ts" setup>
import { Grid, Search, Refresh ,Delete} from "@element-plus/icons-vue";
const centerDialogVisible = ref(false)
const isShow=ref(true)
import { _usersList} from "../../../service/sys/users";

// console.log(usersList,'usersList');

import { reactive, ref, defineProps ,computed, defineComponent,  toRefs} from "vue";
const input = ref("");
const inputs = ref("");

interface inputString{
   input:string,
   inputs:string
}
import { ElTable } from "element-plus";
const dataList = reactive({
  tableData:[],
  total:0,
  current:0,
  pages:0,
  size:0,
  
});


const userList = async () => {
  const data=await _usersList()
   dataList.tableData=data.data.records
   console.log( data,' data');
   
   dataList.total=data.data.total
   
   dataList.current=data.data.current
   dataList.pages=data.data.pages
   dataList.size=data.data.size
};
userList()


const small = ref(false)
const background = ref(false)
const disabled = ref(false)

const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`)
  userList()

}
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`)

}
const handleSelectionChange=()=>{
  // console.log(111111);
  
}

//刷新
const refresh=()=>{
  userList()
}
// 穿梭框
interface Option {
  key: number
  label: string
}

const generateData = () => {
  const list=['用户名','用户操作','请求方法','请求参数','执行时长（毫秒）','IP地址','创建时间',]
  const data: Option[] = []
  for (let i = 0; i < list.length; i++) {
    data.push({
      key: i,
      label: `${list[i]}`,
    })
  }
  return data
}

const data = ref<Option[]>(generateData())
const value = ref([])

//点击搜索
const buttonSearch=()=>{
  console.log(input.value,'input');
  console.log(inputs.value,'inputs');
  const dataLists=[]
  const input_value=input.value
  const inputs_value=inputs.value
  //用户名
  if(input_value){
    for (let i = 0; i < dataList.tableData.length; i++) {
         if(dataList.tableData[i].username.indexOf(input_value)!=-1){
           dataLists.push(dataList.tableData[i])
         }
  }
  }
  //操作方法
  if(inputs_value){
    for (let i = 0; i < dataList.tableData.length; i++) {
            if(dataList.tableData[i].operation.indexOf(inputs_value)!=-1){
              dataLists.push(dataList.tableData[i])
            }
     }
  }
 
  
  dataList.tableData=dataLists
    
}
//点击清空
const buttonDelete=()=>{
   
    input.value = "";
    inputs.value = "";
}
</script>

<style>
.axx{width: 100%;height: 100%;display: flex;justify-content: center;}
.journals {
  width: 97%;
  height: 100%;
}
.journals-navs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.journals-navs-search {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 10px;
}
.journals-navs-search-item {
  margin-right: 8px;
}
.journals-navs-icon {
  width: 100%;
  height: 50px;
  position: relative;
   display: flex;
  align-items: center;
}
.journals-navs-icon-right {
  position: absolute;
  right: 10px;
 }
.el-input {
  height: 30px;
}
.journals-conent {
  width: 100%;
}
.journals-conent-pagination{
  width: 100%;position: relative;
  margin-bottom: 15px;
}
.el-pagination{position: absolute;right: 0;}
</style>