/<template>
  <div class="logs">
      <div class="logs-navs">
       <div class="logs-navs-tops" v-show="isShow">
         <div>角色名称：<el-input style="width:150px;margin-right: 10px;" height= '30' v-model="input" placeholder="角色名称" /></div>
         <div>
         <el-button size="small" type="primary" :icon="Search" @click="buttonSearch">搜索</el-button>
         <el-button size="small"  :icon="Delete" @click="buttonDelete">清空</el-button>
         </div>
        </div>
        <div class="logs-navs-delete">
          <div>
             <el-button size="small" type="primary">新增</el-button>
             <el-button size="small" type="danger">批量删除</el-button>
          </div>
          <div>
              <el-tooltip content="刷新" placement="top">
            <el-button :icon="Refresh" circle @click="refresh" />
          </el-tooltip>
          <el-tooltip content="显隐" placement="top">
            <el-button :icon="Grid" circle @click="centerDialogVisible = true" />
          </el-tooltip>
          <el-tooltip content="搜索" placement="top">
            <el-button :icon="Search" circle @click="this.isShow=!this.isShow"/>
          </el-tooltip>
          </div>
     
        </div>
      </div>
      <div class="logs-conents">
         <el-table
             ref="multipleTableRef"
             :data="dataList.tableData"
             style="width: 100%"
             @selection-change="handleSelectionChange"
              border
           >
             <el-table-column type="selection" width="55" />
             <el-table-column prop="roleName" label="角色名称" align='center'>
             </el-table-column>
             <el-table-column prop="remark" label="备注" align='center'>
             </el-table-column>
             <el-table-column prop="createTime" label="创建时间" align='center'>
             </el-table-column>
             <el-table-column  label="操作" align='center'>
               <template #default='scope'> 
               <el-button size="small" :icon="Edit" type="primary">编辑</el-button>
               <el-button size="small" :icon="Delete" type="danger" @click="deleteDataList(scope.row)">删除</el-button>
               </template>
             </el-table-column>
           </el-table>
      </div>
            <!-- 显隐弹框 -->
       <el-dialog v-model="centerDialogVisible" title="多选框" width="60%" >
          <!-- 穿梭框 -->
         <el-transfer v-model="value" :data="data" :titles="['隐藏', '显示']" />
        </el-dialog>
  </div>
</template>

<script lang="ts" setup>
import { Grid, Search,Refresh,Edit,Delete } from '@element-plus/icons-vue'
import { ElMessageBox, ElMessage } from 'element-plus';
import { reactive, ref, defineProps } from "vue";
import {_logList,_deleteLogList} from '../../../service/sys/log'
// console.log(_deleteLogList,'_deleteLogList');

const input = ref("");
const dataList = reactive({
  tableData:[]
});
const isShow=ref(true)
const centerDialogVisible = ref(false)
const refresh=()=>{
  userList()
}
const userList = async () => {
  const data=await _logList()
   dataList.tableData=data.data.records
   
   console.log( data,' data');
  
};
userList()
// 穿梭框
interface Option {
  key: number
  label: string
}

const generateData = () => {
  const list=['角色名称','备注','创建时间']
  const data: Option[] = []
  for (let i = 0; i < list.length; i++) {
    data.push({
      key: i,
      label: `${list[i]}`,
    })
  }
  return data
}

const data = ref<Option[]>(generateData())
const value = ref([])
//点击搜索
const buttonSearch=()=>{
  console.log(input.value,'input');
  const dataLists=[]
  const input_value=input.value
  if(input_value){
    for (let i = 0; i < dataList.tableData.length; i++) {
         if(dataList.tableData[i].roleName.indexOf(input_value)!=-1){
           dataLists.push(dataList.tableData[i])
         }
  }
  }
  dataList.tableData=dataLists
    
}
//点击清空
const buttonDelete=()=>{
  //  console.log(123);
    input.value = "";
}
//删除
const deleteDataList=(row:any)=>{
  console.log(row.roleId ,'val');
  
  ElMessageBox.confirm("确定要删除这条数据吗?","提示",{
    confirmButtonText:'确定',
    cancelButtonText:'取消',
    type:'warning'
  }).then(async ()=>{
     ElMessage({
       message:"删除成功"
     })
    
    
  const res =await _deleteLogList([
     row.roleId
  ])
    console.log(res,'res');
  })
  .catch(()=>{
     ElMessage({
      message:"删除失败"
    })
  })
}
</script>

<style>
.logs{width: 100%;height: 100%;}
.logs-navs{width: 100%;}
.logs-navs-tops{width: 100%;height: 40px;display: flex;align-items: center; margin-top: 10px;}
.logs-navs-delete{width: 100%;height: 50px;display: flex;justify-content: space-between;
align-items: center;}
.logs-conents{width: 100%;}
</style>