<template>
  <div class="group">
    <div class="group_table">
      <avue-crud :data="swiper.data" :option="option">
        <template #search="{ size }">
          <el-form>
            <el-form-item label="状态">
              <el-select placeholder="状态">
                <el-option value="禁用" />
                <el-option value="正常" />
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" color="#02A1E9">
                <svg
                  t="1666702400921"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="2543"
                  width="13"
                  height="13"
                >
                  <path
                    d="M448 768c176.725333 0 320-143.274667 320-320 0-176.725333-143.274667-320-320-320-176.725333 0-320 143.274667-320 320 0 176.725333 143.274667 320 320 320z m0 42.666667c-200.298667 0-362.666667-162.368-362.666667-362.666667S247.701333 85.333333 448 85.333333s362.666667 162.368 362.666667 362.666667-162.368 362.666667-362.666667 362.666667z m304.917333-27.584a21.333333 21.333333 0 0 1 30.165334-30.165334l150.848 150.848a21.333333 21.333333 0 0 1-30.165334 30.165334l-150.848-150.826667z"
                    fill="#ffffff"
                    p-id="2544"
                  ></path>
                </svg>
                搜索
              </el-button>
            </el-form-item>
            <el-form-item>
              <el-button>
                <svg
                  t="1666702696515"
                  class="icon"
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  p-id="4310"
                  width="13"
                  height="13"
                >
                  <path
                    d="M608 768c-17.696 0-32-14.304-32-32L576 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C640 753.696 625.696 768 608 768z"
                    p-id="4311"
                    fill="#8a8a8a"
                  ></path>
                  <path
                    d="M416 768c-17.696 0-32-14.304-32-32L384 384c0-17.696 14.304-32 32-32s32 14.304 32 32l0 352C448 753.696 433.696 768 416 768z"
                    p-id="4312"
                    fill="#8a8a8a"
                  ></path>
                  <path
                    d="M928 224l-160 0L768 160c0-52.928-42.72-96-95.264-96L352 64C299.072 64 256 107.072 256 160l0 64L96 224C78.304 224 64 238.304 64 256s14.304 32 32 32l832 0c17.696 0 32-14.304 32-32S945.696 224 928 224zM320 160c0-17.632 14.368-32 32-32l320.736 0C690.272 128 704 142.048 704 160l0 64L320 224 320 160z"
                    p-id="4313"
                    fill="#8a8a8a"
                  ></path>
                  <path
                    d="M736.128 960 288.064 960c-52.928 0-96-43.072-96-96L192.064 383.52c0-17.664 14.336-32 32-32s32 14.336 32 32L256.064 864c0 17.664 14.368 32 32 32l448.064 0c17.664 0 32-14.336 32-32L768.128 384.832c0-17.664 14.304-32 32-32s32 14.336 32 32L832.128 864C832.128 916.928 789.056 960 736.128 960z"
                    p-id="4314"
                    fill="#8a8a8a"
                  ></path>
                </svg>
                清空
              </el-button>
            </el-form-item>
          </el-form>
        </template>
        <template #menu-left="{}">
          <el-button type="primary" color="#02A1E9" icon="el-icon-plus"
            >新增</el-button
          >
          <el-button type="danger" color="#fab6b6">批量删除</el-button>
        </template>
        <template #status="scope">
          <el-tag v-if="scope.row.status === 1"> 正常</el-tag>
          <el-tag v-else> 禁用</el-tag>
        </template>
        <template #menu="{ row, index, size }">
          <el-button
            type="primary"
            color="#02A1E9"
            icon="el-icon-edit"
            :size="size"
            >修改</el-button
          >
          <el-button
            type="primary"
            color="#F56C6C"
            icon="el-icon-delete"
            :size="size"
            @click="delone(row)"
            >删除</el-button
          >
        </template>
        <template #imgUrl="scope">
          <img
            :src="`http://img-test.gz-yami.com/${scope.row.imgUrl}`"
            alt=""
          />
        </template>
      </avue-crud>
      <div class="group_table_pagination"></div>
      <MyAlert> </MyAlert>
    </div>
  </div>
</template>
  
<script setup lang='ts'>
import {
  swiperList,
  swiperdeleteone,
} from "../../../../src/service/swiper/swiper";
import Store from "../../../../src/store";
import MyAlert from "./MyAlert.vue";

const { swiper } = Store();
console.log(swiper, "swiuper");

// const getList = async () => {
//   const res: any = await swiperList({
//     t: 1666924328049,
//     current,
//     size,
//   });
//   console.log(res);
//   swiper.data = res.data.records;
// };

swiper.getList();

const delone = (row: any) => {
  swiper.dialogVisible = true;
  swiper.delId = row.imgId;
};
const option = {
  search: {},
  border: true,
  align: "center",
  addBtn: false,
  menuWidth: 350,
  searchBtn: false,
  emptyBtn: false,
  selection: true,
  editBtn: false,
  delBtn: false,
  column: [
    {
      label: "轮播图片",
      prop: "imgUrl",
      slot: true,
      width: 120,
    },
    {
      label: "顺序",
      prop: "seq",
    },
    {
      label: "状态",
      prop: "status",
      slot: true,
      search: true,
    },
  ],
};
</script>
  
  <style lang='scss' scoped>
.group {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  form {
    width: 100%;
    display: flex;
    font-size: 12px !important;
    .el-form-item {
      margin-right: 10px;
    }
  }
  .group_table {
    margin-top: 10px;
    .group_table_pagination {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
svg {
  margin-right: 5px;
}
.cell {
  img {
    width: 85px;
    height: 100px;
  }
}
</style>