/<template>
  <div class="class">
       <avue-crud :data="product.classList" :option="option" >
            <template #menu-left="{}">
                <el-button type="primary"
                            color='#02A1E9'
                            icon="el-icon-plus">新增</el-button>
            </template>
            <template #pic='scope'>
              <img :src='`http://img-test.gz-yami.com/${scope.row.pic}`' alt="">
            </template>
            <template #status="scope" >
            <el-tag v-if="scope.row.status===0">禁用</el-tag>
            <el-tag v-else>正常</el-tag>
        </template>
            <template #menu>
              <el-button type="primary"
                          color='#02A1E9'
                          :size="size">修改</el-button>
              <el-button type="primary"
                          color='#F56C6C'
                          :size="size">删除</el-button>
          </template>
        </avue-crud>
  </div>
</template>

<script setup lang='ts'>
import { tr } from 'element-plus/es/locale'
import {get_classList} from '../../../service/produce/class'
import userStore from '../../../store';
const {product}=userStore()
const get_List=async()=>{
  const res:any=await get_classList()
  product.classList=res.data
}
get_List()
const option={
        search: {},
        border:true,
        align:'center',
        addBtn: false,
        editBtn:false,
        delBtn:false,
          column:[{
              label:'分类名称',
              prop:'categoryName',
            },{
              label:'图片',
              prop:'pic',
              solt:true
            },{
              label:'状态',
              prop:'status',
              solt:true
            },{
              label:'排序号',
              prop:'seq'
            }
          ]
        }
</script>

<style lang='scss' scoped>
.class{
        width: 100%;
        height: 100%;
        padding: 24px;
        box-sizing: border-box;
        .class_table{
            margin-top: 10px;
        }
    }
    img{
      width: 100%;
      height: 80px;
      object-fit: cover;
    }
</style>