<template>
  <div class="user">
    <div class="main">
      <div class="main_top">
        <div class="main_top_div1">
          <span>
            <el-input v-model="value2" placeholder="订单编号" style="width: 200px;height: 40px;" />
          </span>
          <span>
            <el-time-picker v-model="value1" is-range range-separator="至" start-placeholder="Start time"
              end-placeholder="End time" style="height: 40px;" />
          </span>
          <span>
            <el-select v-model="form.status" class="m-2" placeholder="订单状态" size="large">
              <el-option v-for="item in options" :key="item.value" :value="item.value" />
            </el-select>
          </span>
        </div>
        <div class="main_top_div2">
          <span>
            <el-button type="primary" @click="query">查询</el-button>
          </span>
          <span>
            <el-button type="primary" @click="Down">导出代发货订单</el-button>
          </span>
          <span>
            <el-button type="primary">导出销售记录</el-button>
          </span>
          <span>
            <el-button @click="AllEmpty">清空</el-button>
          </span>
        </div>
      </div>
      <!-- table数据表格 -->
      <div class="main_buttom">


        <div
          style="width: 100%;height: 40px;background: #fff; display: flex;align-items: center;justify-content: space-around;">
          <span>商品</span>
          <span>成交单价/购买数量</span>
          <span>实付金额</span>
          <span>支付方式</span>
          <span>订单状态</span>
          <span>操作</span>
        </div>


        <div class="orderLIst" v-for="(item, index) in ListComp" :key="index">
          <div class="header1">
            <span>订单编号:{{ item.orderNumber }}</span>
            <span>下单时间:{{ item.createTime }}</span>
          </div>
          <div class="main1" v-for="(items, ind) in item.orderItems" :key="ind">
            <div style="width: 486px;height: 100%;border-right: 1px solid #ccc;display: flex;">
              <div style="width: 30%;height: 100%;display: flex;align-items: center;justify-content: space-around;">
                <img :src="`http://img-test.gz-yami.com/${items.pic}`" alt="" style="width: 100px;height: 100px;" />
              </div>
              <div style="width: 70%;height: 100%;" class="div1">
                <p>{{ items.prodName }}</p>
                <p style="color:#ccc">{{ items.skuName }}</p>
              </div>
            </div>
            <div
              style="width: 205px;height: 100%;border-right: 1px solid #ccc;display: flex; align-items: center;justify-content: space-around;">
              <span>
                <p style="color:red">￥{{ items.price }}</p>
                <span style="margin-left: 7px;">共{{ items.prodCount }}件</span>
              </span>
            </div>
            <div
              style="width: 205px;height: 100%;border-right: 1px solid #ccc;display: flex; align-items: center;justify-content: space-around;">
              <span>{{ item.payType === 1 ? "微信支付" ? item.payType === 2 : "支付宝支付" : "手动支付" }}</span>
            </div>
            <div
              style="width: 205px;height: 100%;border-right: 1px solid #ccc;display: flex; align-items: center;justify-content: space-around;">
              <span>
                {{ item.status === 1 ? "代付款" ? item.status === 2 : "代发货" ? item.status === 3 : "待收货" ? item.status === 4
                    : "待评价" ? item.status === 5 : "成功" : "失败"
                }}
              </span>
            </div>
            <div
              style="width: 205px;height: 100%;border-right: 1px solid #ccc; color:#b1bbed; display: flex; align-items: center;justify-content: space-around;">
              <a>修改</a>
            </div>
          </div>
          <div class="footer1"><span>备注:</span></div>
        </div>
        <!-- 分页器 -->
        <div class="footer">
          <!---/////////// -->
          <div style="margin-left: 580px;">
            <el-pagination v-model:currentPage="current" v-model:page-size="size" :page-sizes="[10, 30, 50, 70]"
              :small="small" :disabled="disabled" :background="background"
              layout="total, sizes, prev, pager, next, jumper" @size-change="handleSizeChange"
              @current-change="handleCurrentChange" :total="total" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import useJsonToExcel from '../../hooks/permission'
import { Empty } from 'ant-design-vue';
import { ref, watch, computed, reactive } from 'vue'
import { _OrderList } from '../../service/order/order'
import useStore from '../../store'
const { login } = useStore()
const value1 = ref<[Date, Date]>([
  new Date(2016, 9, 10, 8, 40),
  new Date(2016, 9, 10, 9, 40),
])
const value2 = ref<any>('')
let form = reactive({
  orderNumber: '',
  dateTime: '',
  status: ''
})

const small = ref(false)
const background = ref(false)
const disabled = ref(false)

// 解析到的数据
const ListComp = computed(() => login.OrderList)
let size = computed(() => login.size)
let current = computed(() => login.current)
let total = computed(() => login.total)
let pages = computed(() => login.pages)
let num: any = null
console.log(ListComp, 'ooooooooooooooooooooooo')
const t = new Date()
login.getOrder({
  size: size.value,
  current: current.value,
  t,
})
const handleSizeChange = (val: number) => {
  console.log(`${val} items per page`)
  login.size = val
  // 重新调用
  login.getOrder({
    size: size.value,
    current: current.value,
    t,
  })
}
const handleCurrentChange = (val: number) => {
  console.log(`current page: ${val}`)
  login.current = val
  // 重新调用
  login.getOrder({
    size: size.value,
    current: current.value,
    t,
  })
}

const options = [
  {
    value: '待付款',
  },
  {
    value: '待发货',
  },
  {
    value: '待收货',
  },
  {
    value: '待评价',
  },
  {
    value: '成功',
  },
  {
    value: '失败',
  },
]

// 点击查询
const query = () => {

  if (form.status === "代付款") {
    num = 1
  } else if (form.status === "代发货") {
    num = 2
  } else if (form.status === "代收货") {
    num = 3
  } else if (form.status === "代评价") {
    num = 4
  } else if (form.status === "成功") {
    num = 5
  } else if (form.status === "失败") {
    num = 6
  }else{
    num = null
  }

  login.getOrder({
    size: size.value,
    current: current.value,
    t,
    orderNumber: value2.value,
    status: num
  })
}


const AllEmpty = () =>{
    value2.value = ''
}


const Down =()=>{
  const data = [
    {
      id:1,
      title:'购买数据手机的记录',
      count:34
    },
    {
      id:2,
      title:'程序员的养成记录',
      count:34
    },
  ]

  const tableHeader = {
    id:'订单编号',
    title:'城市',
    count:'购买量'
  }

  useJsonToExcel({
    data,
    header:tableHeader,
    fileName:'邯郸市临漳县养成历险记',
    bookType:'xlsx'
  })
}

</script>

<style scoped>
.user {
  width: 100%;
  height: 570px;
  background: #f1f4f5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
  overflow: scroll;
}

.main {
  width: 98%;
  height: 95%;
  background: #FFF;
  overflow: scroll;
}

.main_top {
  width: 100%;
  height: 20%;
}

.main_top_div1 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.main_top_div2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.main_top span {
  margin-left: 20px;
}

.main_buttom {
  width: 100%;
  height: 70%;

}

.footer {
  width: 100%;
  height: 10%;
}



.orderLIst {
  width: 100%;
  height: 228px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.header1 {
  width: 100%;
  height: 15%;
  background: #f8f8f9;
  border-bottom: 1px solid #ccc;
}

.header1 span {
  margin-left: 15px;
  line-height: 33px;
}

.main1 {
  width: 100%;
  height: 65%;
  display: flex;
}

.footer1 {
  width: 100%;
  height: 20%;
  background: #e8f7f6;
  border-top: 1px solid #ccc;
}

.footer1 span {
  margin-left: 15px;
  line-height: 45px;
}

.div1 p {
  margin-top: 28px;
}
</style>