/<template>
<div class="axx">
 <div class="timing">
      <div class="timing-navs">
        <div class="timing-navs-item">
           <el-input v-model="input" placeholder="bena名称" style="width:200px"/>
           <el-button @click="buttonSearch">查询</el-button>
        </div>
         <el-button class="timing-navs-item" type="primary" @click="dataList.addDialogVisible = true">新增</el-button>
         <el-button class="timing-navs-item" type="danger" >批量删除</el-button>
         <el-button class="timing-navs-item" type="danger" >批量暂停</el-button>
         <el-button class="timing-navs-item" type="danger" >批量恢复</el-button>
         <el-button class="timing-navs-item" type="danger" >批量立即执行</el-button>
         <el-button class="timing-navs-item" type="success" @click="dialogTableVisible = true">日志列表</el-button>
      </div>
      <div class="timing-contens">
        <el-table
             ref="multipleTableRef"
             :data="dataList.tableData"
             style="width: 100%"
             @selection-change="handleSelectionChange"
             border
           >
             <el-table-column type="selection" width="35" align='center' />
             <el-table-column prop="beanName" label="bena名称" align='center'>
             </el-table-column>
             <el-table-column prop="methodName" label="方法名称" align='center'>
             </el-table-column>
             <el-table-column prop="params" label="参数" align='center'>
             </el-table-column>
             <el-table-column prop="cronExpression" label="cron表达式" align='center'>
             </el-table-column>
             <el-table-column prop="remark" label="备注"  align='center'>
             </el-table-column>
            <el-table-column prop="status" label="状态"  align='center' width="60">
             </el-table-column>
             <el-table-column  label="操作"  class="el-table-column-button">
                <template #default="scope">
               <el-button size="small" type='primary' text>修改</el-button>
               <el-button size="small" type='danger' @click="deleteDataList(scope.row)" text>删除</el-button>
               <el-button size="small" type='warning' text>暂停</el-button>
               <el-button size="small" type='success' text>恢复</el-button>
               <el-button size="small" type='primary' text>立即执行</el-button>
                </template>
             </el-table-column>
           </el-table>
      </div>
  </div>
  <el-dialog v-model="dialogTableVisible" width="90%" >
   <users></users>
  </el-dialog>
   <!-- 新增 -->
     <el-dialog
         v-model="dataList.addDialogVisible"
         title="新增"
         width="40%"
         align-center
       >
       <p>bena名称: <el-input  v-model="input_beanName" placeholder="bena名称" /></p>
       <p>方法名称：<el-input v-model="input_methodName" placeholder="方法名称" /></p>
       <p>参数：<el-input  v-model="input_params" placeholder="参数" /></p>
       <p>cron表达式：<el-input  v-model="input_cronExpression" placeholder="cron表达式" /></p>
       <p>备注：<el-input  v-model="input_remark" placeholder="备注" /></p>
       <p>状态：<el-input  v-model="input_status" placeholder="状态" /></p>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dataList.addDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="addDataList">
          确定
        </el-button>
      </span>
    </template>
  </el-dialog>
</div>
 
</template>

<script lang="ts" setup>
import {
  Refresh,
  Grid,
  Search,
  
} from '@element-plus/icons-vue'
const dialogTableVisible = ref(false)
import users from '../../sys/user/index.vue'
import { reactive, ref, defineProps } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
import {_rloeList,_addRloeList,_deleteRloeList} from '../../../service/sys/role'
const dataList = reactive({
  tableData:[],
  addDialogVisible:false,
  editDialogVisible:false,
  addList:{},//获取新增数据
  addDataList:{},//新增数据
});
const input = ref("");
const input_beanName=ref('')
const input_methodName=ref('')
const input_params=ref('')
const input_cronExpression=ref('')
const input_remark=ref('')
const input_status=ref('')
const beanName=ref('') 
const methodName=ref('')
const params=ref('')
const cronExpression=ref('')
const remark=ref('')
const status=ref('')
const userList = async () => {
  const data=await _rloeList()
   dataList.tableData=data.data.records
   console.log( data,' data');
};
userList()
const searchChange=()=>{

}
const handleSelectionChange=()=>{

}
//点击搜索
const buttonSearch=()=>{
  console.log(input.value,'input');
  const dataLists=[]
  const input_value=input.value
  if(input_value){
    for (let i = 0; i < dataList.tableData.length; i++) {
         if(dataList.tableData[i].beanName.indexOf(input_value)!=-1){
           dataLists.push(dataList.tableData[i])
         }
  }
  }
  dataList.tableData=dataLists
    
}
//增加

const addDataList=async ()=>{
   dataList.addDialogVisible=false
    dataList.addDataList={
        
        beanName:input_beanName.value,
        methodName:input_methodName.value,
        params:input_params.value,
        cronExpression:input_cronExpression.value,
        remark:input_remark.value,
        status:input_status.value
    }
 
 const res=await _addRloeList(dataList.addDataList)
  userList()
 }
 //删除
const deleteDataList =async (data: any) => {

  
  ElMessageBox.confirm("确定要删除这条数据吗?","提示",{
    confirmButtonText:'确定',
    cancelButtonText:'取消',
    type:'warning'
  }).then(async ()=>{
    ElMessage({
      message:"删除成功"
    })
    const res= await _deleteRloeList([data.jobId])
 
     userList();
  })
  .catch(()=>{
    ElMessage({
      message:"删除失败"
    })
  })


};
</script>

<style>
.axx{width: 100%;height: 100%;display: flex;justify-content: center;}
.timing{width: 97%;height: 100%;}
.timing-navs{width: 100%;height: 50px;display: flex;align-items: center;}
.timing-navs-item{margin-right: 8px;}
.el-table-column-button{width: 100%; display: flex;justify-content: space-evenly;flex-wrap: wrap;}
</style>